# Complie
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ind
*.ist
*.lof
*.log
*.lot
*.out
*.synctex*
*.toc
*.xdv

# latexindent
__latexindent*
*.bak*

# pdf
main.pdf