*.aux
*.bbl
*.dvi
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
*.bat
*.html
*.docx
*.doc
main_test.*
main.pdf
山二医*.pdf