# Complie
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ind
*.ist
*.lof
*.log
*.lot
*.out
*.synctex*
*.toc
*.xdv

*.txt
*.csv

# latexindent
**latexindent*
*.bak*

# test.ps1
test.ps1

# pdf
main.pdf